:root { 
    --green: #4B9200;
    --orange: #F9804B;
    --yellow: #FFEE2E;
    --black: #000000;
    --orangegrad:linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    --pinkgrad: #FEBDAB;
    --rad: #D31414;
    --blackblue: #333b41;
    --gray: #767474;
    --graysmo: #ABABAB;
    --graylight: #F1F3F2;
    --frosted: #FDFDFF;
    --white: #ffffff;
    --font-black: #333B41;

    --font-family-roboto: 'Roboto', sans-serif;
}

h2 {
    font-family: var(--font-family-roboto);
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 120%;
    color: var(--black);
    margin-top: 0;
}

h3 {
    font-family: var(--font-family-roboto);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 130%;
    color: var(--black);
    margin-top: 0;
}

.subtitle {
    font-family: var(--font-family-roboto);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 130%;
    color: var(--black);
}

.body-reg {
    font-family: var(--font-family-roboto);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 120%;
    color: var(--black);
}

.small-par {
    font-family: var(--font-family-roboto);
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 120%;
    color: var(--black);
}

body {
    background-color: var(--white);
    width: 1600px;
}

#open-menu{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
  }

.logo-ham {
    display: none;
}

nav {
    width: 100%; 
    background: var(--black);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; 
}

.navbar {
    background: var(--black);
    backdrop-filter: blur(2px);
    width: 1160px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    z-index: 3; 
  }

  .logo {
    position: absolute;
    width: 82px;
    height: 52px;
    left: 0px;
    top: 14px;
  }

  .logo .bamboo {
    height: 20px;
    left: 12px;
    position: absolute;
    top: 25px;
    width: 11px;
  }

  h1 a {
    font-size: 19px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0;
    font-family: var(--font-family-roboto);
    text-decoration: none;
    font-style: normal;
    color: var(--white);
    left: 0px;
    position: absolute;
    text-align: center;
    width: 72px;
    top: 0px;
    border: 1px solid;
    border-color: var(--white);
    border-radius: 2px;
    padding-top: 2px;
    padding-left: 3.5px;
    padding-bottom: 2px;
    padding-right: 4.75px;
}

  #links a {
    font-family: var(--font-family-roboto);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: var(--white);
    text-decoration: none;
  }

  #links a:hover {
    color: var(--orange);
  }

  header #links {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #about {
    position: absolute;
    width: 43px;
    height: 22px;
    left: 145px;
    top: 29px;
  }

  #map {
    position: absolute;
    width: 32px;
    height: 22px;
    left: 246px;
    top: 29px;  
  }

  #zoos {
    position: absolute;
    width: 36px;
    height: 22px;
    left: 336px;
    top: 29px;
  }

#links #donate {
    position: absolute;
    width: 51px;
    height: 22px;
    left: 430px;
    top: 29px;
    color: var(--orange);
    pointer-events: none;
  }

  #contact {
    position: absolute;
    width: 78px;
    height: 22px;
    left: 539px;
    top: 29px;
  }

  #copyright {
    position: absolute;
    width: 105px;
    height: 22px;
    left: 1055px;
    top: 29px;
  }

  #hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 18px;
    height: 2px;
    background-color: var(--white);
    border-radius: 2px;
    margin: 2px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
} 

#img-background {
    position: absolute;
    background-image: url("../../assets/images/panda_bg.jpg");
    background-size: cover;
    z-index: 0;
    height: 390px;
    top: 76px;
    left: 0;
    width: 100%;
}

.reopening {
    width: 100%; 
    position: absolute;
    top: 466px;
    left: 0;
    height: 1482px; 
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.reopening-box {
    width: 1160px;
    height: 338px;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.reopen-title {
    position: absolute;
    width: 1157px;
    height: 47px;
    left: 0px;
    top: 40px;
    font-family: var(--font-family-roboto);
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: var(--white);
}

.reopen-text {
    position: absolute;
    height: 94px;
    width: 1160px;
    left: 0;
    right: 220px;
    top: 85px;
    font-family: var(--font-family-roboto);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--white);
}

.donation-info {
    width: 341px;
    height: 47px;
    top: 231px;
    position: absolute;
    left: 0px;
    font-family: var(--font-family-roboto);
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #FE9013;
}

.pick-feed-block {
    width: 1160px;
    height: 964px;
    top: 338px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background:rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

.pick-feed-title {
    position: absolute;
    height: 47px;
    top: 40px;
    line-height: 120%;
    color: #FE9013;
    left: 342px;
    font-weight: 400;
}

.pick-feed-text {
    font-family: var(--font-family-roboto);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
    left: 92px;
    top: 95px;
    position: absolute;
}

.panda-diet span {
    font-family: var(--font-family-roboto);
    position: absolute;
    width: 41px;
    height: 58px;
    left: 366px;
    top: 312px;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.panda-diet p {
    font-family: var(--font-family-roboto);
    position: absolute;
    width: 159px;
    height: 22px;
    left: 307px;
    top: 367px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #333B41;
}

.x {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 477px;
    top: 337px;
}

.donate-panda-pic {
    position: absolute;
    width: 284px;
    height: 246px;
    left: 555px;
    top: 207px;
}

.donation-line {
    width: 910px;
    background: #404950;
    border-radius: 2px;
    top: 540px;
    position: relative;
    height: 28px;
    margin: 17px 0 0 0;
    padding: 0 31px 0 31px;
    left: 92px;
    display: flex;
    justify-content: space-between;
}

.donation-line::after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 31px;
    right: 31px;
    top: 14px;
    max-width: 915px;
    height: 0px;
    border: 1px solid #72828E;
    /* z-index: 50; */
}

.donation-line-box p {
    font-family: var(--font-family-roboto);
    color: var(--black);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    position: absolute;
    left: 96px;
    top: 487px;
}

.radio-button-area {
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 0;
    opacity: 0;
    cursor: pointer;
}

.label::before {
    top: 8.5px;
    top: 10px;
    z-index: 100;
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    background-color: var(--yellow);
    content: "";
    cursor: pointer;
  }

.radio-button-area:checked + .label::before {
    top: -6px;
    border-radius: 50%;
    background-image: url("../../assets/images/roller-icon.png");
    width: 40px;
    height: 40px;
    transform: translateX(-40%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;
    background-color: transparent;
}

.orange-btns, .orange-btn1, .orange-btn2 {
    display: none;
}

.price-line span {
    font-family: var(--font-family-roboto);
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    color: var(--blackblue);
}

.price1 {
    position: absolute;
    left: 92px;
    top: 579px;
}

.price2 {
    position: absolute;
    left: 222px;
    top: 579px;
}

.price3 {
    position: absolute;
    left: 352px;
    top: 579px;
}

#price-or {
    color: #FE9013;
}

.price4 {
    position: absolute;
    left: 482px;
    top: 579px;
}

.price5 {
    position: absolute;
    left: 612px;
    top: 579px;
}

.price6 {
    position: absolute;
    left: 742px;
    top: 579px;
}

.price7 {
    position: absolute;
    left: 872px;
    top: 579px;
}

.price8 {
    position: absolute;
    left: 1002px;
    top: 579px;
}

input[type=number] {
    width: 255px;
    height: 50px;
    border: 1px solid #929699;
}

input[placeholder] {
    font-family: var(--font-family-roboto);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #929699;
    background: transparent;
    padding-left: 9px;
    border-radius: 2px;
}

.amount-field {
    position: absolute;
    top: 665px;
    left: 446px;
}

.payment-options label {
    display: block;
    color: var(--blackblue);
    font-family: var(--font-family-roboto);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 3px;
}

.payment-options {
    margin: 0 50px 0 0;
}

.subscription-choice {
    border: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
    align-content: center;
	break-before: always;
    margin-top: 23px;
    margin-left: 24px;
}

.payment-options input[type=radio] {
    width: 16px;
    height: 16px;
    border: 1px solid #FE9013;
    background: transparent;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
    cursor:pointer;
}

.payment-options input[type="radio"]:checked {
    background: rgba(75, 146, 0, 1);
    border: 1px solid rgba(75, 146, 0, 1);
}


.payment-options input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.payment-options input[type=number] {
    -moz-appearance: textfield;
}

.dol {
    position: absolute;
    left: 248px;
    top: 19px;
    width: 10px;
    height: 20px;
}

.btn1 {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    height: 54px;
    width: 298px;
    cursor: pointer;
    position: absolute;
    left: 434px;
    top: 796px;
} 

.btn1-text {
    position: absolute;
    width: 292px;
    height: 22px;
    left: 5px;
    top: 16px;
    font-family: var(--font-family-roboto);
    color:  var(--white);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    text-transform: uppercase;
}

.btn1:hover {
    background: #E47209;
}

.share-text {
    font-family: var(--font-family-roboto);
    position: absolute;
    width: 301px;
    height: 22px;
    left: 432px;
    top: 880px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
    text-align: center;
}

footer {
    width: 100%; 
    background: #111115;
    position: absolute;
    top: 1948px;
    left: 0;
    z-index: 2; 
}

.footer {
    background: #111115;
    position: relative;
    width: 1160px;
    height: 443px;
    margin-left: auto;
    margin-right: auto;
    z-index: 3; 
}

.footer .logo {
    position: absolute;
    width: 82px;
    height: 52px;
    left: 0px;
    top: 41px;
}

.footer .logo .bamboo {
    height: 20px;
    left: 12px;
    position: absolute;
    top: 25px;
    width: 11px;
}

.footer .logo span a {
    font-size: 19px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0;
    font-family: var(--font-family-roboto);
    text-decoration: none;
    font-style: normal;
    color: var(--white);
    left: 0px;
    position: absolute;
    text-align: center;
    width: 72px;
    top: 0px;
    border: 1px solid;
    border-color: var(--white);
    border-radius: 2px;
    padding-top: 2px;
    padding-left: 3.5px;
    padding-bottom: 2px;
    padding-right: 4.75px;
}

.donate-btn {
    position: absolute;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    height: 54px;
    top: 161px;
    width: 298px;
    left: 0px;  
    cursor: pointer;
}

.donate-btn:hover {
    background: #E47209;
}

.social-ft-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    top: 257px;
    position: absolute;
}

.social-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.social-icon {
    width: 26px;
    height: 26px;
    background-color: rgba(196, 196, 196, 0.5);
    border-radius: 50%;
    margin-bottom: 10px;
}

.social-icon #fb {
    width: 8px;
    height: 16px;
    left: 9px;
    top: 5px;
    position: absolute;
}

.social-icon #tw {
    width: 16px;
    height: 14px;
    left: 5px;
    top: 42px;
    position: absolute; 
}

.social-icon #ig {
    width: 16px;
    height: 16px;
    left: 5px;
    top: 77px;
    position: absolute; 
}

.social-icon #yt {
    width: 18px;
    height: 13px;
    left: 4px;
    top: 114px;
    position: absolute; 
}

.social-icon:hover {
    background-color: #4B9200; 
}

.social-name {
    padding-bottom: 6px;
}

.social-name span {
    font-family: var(--font-family-roboto);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    padding-left: 12px;
    line-height: 140%;
}

.social-name span a {
    text-decoration: none;
    color: var(--white);
}

.social-name a:hover {
    color: rgba(75, 146, 0, 1);
}

.ft-links .about {
    position: absolute;
    width: 43px;
    height: 22px;
    left: 400px;
    top: 371px;
  }

  .ft-links a:hover {
    color: var(--orange);
}

.ft-links .map {
    position: absolute;
    width: 32px;
    height: 22px;
    left: 501px;
    top: 371px;  
  }

.ft-links .zoos {
    position: absolute;
    width: 36px;
    height: 22px;
    left: 591px;
    top: 371px;
  }

.ft-links .contact {
    position: absolute;
    width: 78px;
    height: 22px;
    left: 685px;
    top: 371px;
}

.ft-links a {
    font-family: var(--font-family-roboto);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--white);
    text-decoration: none;
}

.sbscrb-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    top: 40px;
    left: 794px;
    position: absolute;
}

.sbscrb-title span {
    font-family: var(--font-family-roboto);
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 120%;
    color: var(--white);
}

.email-sbscrb {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 40px;
    position: absolute;
}

input[type=email] {
    appearance: none;
    width: 215px;
    height: 38px;
    border-radius: 2px;
    border: 0.7px solid var(--orange);
}

input[placeholder="Enter your email"] {
    font-family: var(--font-family-roboto);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #BDBDBD;
    background: #111115;;
}

.sbm-btn {
    width: 129px;
    height: 44px;
    margin-left: 10px;
    background-color: #F1F3F2;
    border: 1px solid #333B41;
    border-radius: 5px;
    font-family: var(--font-family-roboto);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--black);
    cursor: pointer;
}

.sbm-btn:hover {
    background-color: #F1F3F2;
    border: 1px solid rgba(211, 20, 20, 1);
    color: rgba(211, 20, 20, 1);
}

.copyright-text p {
    font-family: var(--font-family-roboto);
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    color: var(--white);
}

.copyright-text {
    display: flex;
    flex-direction: column;
    align-content: center;
    top: 337px;
    width: 230px;
    left: 930px;
    position: absolute;
    column-gap: 10px;
}

.line1 {
    width: 228px;
    height: 21px;
    padding-top: 10px;
    margin: 0;
}

.line2 {
    width: 230px;
    height: 21px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1599px) {

}

@media screen and (max-width: 1000px) {
    /* * {
        outline: 1px solid #f00 !important;
    } */

    /* .link-item {
        display: none;
    } */
    
    body {
        width: 1000px;
    }

    .navbar, .pick-box, .footer, .reopening-box {
        width: 1000px;
    }

    .navbar {
        z-index: 4;
    }
    .logo {
        left: 30px;
        top: 14px;
        position: absolute;
    }

    #about {
        left: 175px;
    }

    #map {
        left: 266px;
    }

    #zoos {
        left: 346px;
    }

    #donate {
        left: 430px;
    }

    #contact {
        left: 529px;
    }

    #copyright {
        left: 865px;
    }
    
    .img-background {
        background-image: url("../../assets/images/panda_bg_1000.jpg");
        top: 80px;
        width: 1000px;
        height: 390px;
    }

    .reopening {
        top: 470px;
    }

    .reopen-title {
        left: 30px;
        width: 788px;
    }

    .reopen-text {
        left: 30px;
        top: 149px;
        width: 930px;
    }

    .donation-info {
        left: 30px;
        top: 298px;
    }

    .pick-feed-block {
        width: 940px;
        height: 918px;
        top: 385px;
        left: 30px;
        position: absolute;
    }

    .pick-feed-title {
        top: 20px;
        left: 231px;
    }

    .pick-feed-text {
        top: 67px;
        left: 47px;
    }

    .panda-diet span {
        top: 284px;
        left: 254px;
    }

    .panda-diet p {
        left: 196px;
        top: 334px;
    }

    .x {
        left: 366px;
        top: 307px;
    }

    .donate-panda-pic {
        left: 444px;
        top: 177px;
    }

    .donation-line {
        width: 810px;
        left: 65px;
        top: 510px;
    }

    .donation-line-box p {
        left: 65px;
        top: 456px;
    }

    .middle-line {
        width: 785px;
        left: 16px;
    }  

    .y-btn1 {
        left: 11px;
    }

    .y-btn2 {
        left: 141px;
    }

    .y-btn3 {
        left: 271px;
    }

    .y-btn4 {
        left: 401px;
    }

    .y-btn5 {
        left: 531px;
    }

    .y-btn6 {
        left: 661px;
    }

    .y-btn7 {
        left: 791px;
    }

    .orange-btn1 {
        left: 200px;
        top: 512px;
        width: 21px;
        height: 21px;
    }

    .orange-btn2 {
        left: 191px;
        top: 503px;
        width: 38px;
        height: 38px;
    }

    .y-btn8 {
        display: none;
    }

    .price1 {
        display: none;
    }

    .price2 {
        left: 65px;
        top: 549px;
    }

    .price3 {
        left: 195px;
        top: 549px;
    }

    .price4 {
        left: 325px;
        top: 549px;
    }

    .price5 {
        left: 455px;
        top: 549px;
    }

    .price6 {
        left: 585px;
        top: 549px;
    }

    .price7 {
        left: 715px;
        top: 549px;
    }

    .price8 {
        left: 845px;
        top: 549px;
    }

    .amount-field {
        left: 336px;
        top: 635px;
    }

    .subscription-choice {
        margin-top: 24px;
        margin-left: 23px;
    }

    .btn1 {
        top: 765px;
        left: 322px;
    }

    .share-text {
        left: 320px;
        top: 850px;
    }

    footer {
        top: 1803px;
    }

    .footer .logo {
        left: 30px;
    }

    .donate-btn {
        left: 30px;
        top: 162px;
    }  

    .social-ft-container {
        left: 30px;
        top: 259px;
    }

    .ft-links .about {
        left: 334px;
        top: 372px;
      }

    .ft-links .map {
        left: 425px;
        top: 372px;
    }

    .ft-links .zoos {
        left: 505px;
        top: 372px;
    }

    .ft-links .contact {
        left: 589px;
        top: 372px;
    }

    .sbscrb-container {
        left: 570px;
        top: 42px;
    }

    input[type=email] {
        width: 215px;
    }

    input[placeholder="Enter your email"] {
        padding-left: 10px;
    }

    .sbscrb-title {
        margin-bottom: 2px;
    }

    .sbm-btn {
        margin-left: 9px;
        height: 43px;
    }

    .copyright-text {
        left: 740px;
        top: 333px;
    }

    .line1 {
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 640px) {
    body {
        width: 640px;
    }

    .navbar, .testimonials-block, .pick-box, .footer, .pandapic {
        width: 640px;
    }

    header {
        position: fixed;
        z-index: 10;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
        z-index: 20;
    }

    .navbar {
        height: 34px;
        margin: 0;
    }

    .logo {
        left: 2px;
        top: 2px;
        width: 46.8px;
        height: 29px;
    }

    h1 a {
        font-size: 12px;
        border: none;
    }

    .logo .bamboo {
        width: 4.5px;
        height: 13.5px;
        top: 14px;
        left: 23px;
    }

    #hamburger {
        display: block;
        top: 10px;
        left: 602px;
        position: absolute;
    }

    #hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    #hamburger.active .bar:nth-child(1) {
        transform: translateY(4px) rotate(45deg);
        background-color: var(--black);
    }

    #hamburger.active .bar:nth-child(3) {
        transform: translateY(-4px) rotate(-45deg);
        background-color: var(--black);
    }

    #open-menu {
        display: block;
        height: 100%;
        width: 100%;
        transition: 0.1s;
        background-color: transparent;
    }

    #open-menu.active {
        background-color: rgba(0,0,0,0.4);
        z-index: 20;
    }

    #links {
        position: absolute;
        right: -100%;
        display: flex;
        top: 0px;
        flex-direction: column;
        background-color: var(--white);
        width: 100%;
        height: 329px;
        text-align: left;
        transition: 0.1s;
    } 

    #links.active {
        right: 0;
    }

    #links .logo-ham {
        display: block;
        position: absolute;
        width: 65px;
        height: 41px;
        left: 10px;
        top: 10px;
      }
    
    #links .logo-ham .bamboo {
        height: 16px;
        left: 9px;
        position: absolute;
        top: 18px;
        width: 6px;
    }
    
    #links .logo-ham span a {
        font-size: 15px;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0;
        font-family: var(--font-family-roboto);
        text-decoration: none;
        font-style: normal;
        color: #FE9013;
        left: 0px;
        position: absolute;
        text-align: center;
        width: 55px;
        top: 0px;
        border: 1px solid;
        border-color: #FE9013;
        border-radius: 2px;
        padding-top: 2px;
        padding-left: 4px;
        padding-bottom: 2px;
        padding-right: 4.75px;
    }

    #links a {
        color: var(--font-black);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
    } 

    #links a:hover {
        color: var(--orange);
      }

    #links #donate:hover {
        color: var(--orange);
    }

    #about {
        top: 82px;
        left: 10px;
    }

    #map {
        top: 119px;
        left: 10px;
    }

    #zoos {
        top: 156px;
        left: 10px;
    }

    #links #donate {
        top: 193px;
        left: 10px;
        color: var(--black);
        pointer-events: all;
    }

    #contact {
        top: 230px;
        left: 10px;
    }

    #copyright {
        top: 267px;
        right: 0px;
        left: 10px;
    }

    .img-background {
        background-image: url("../../assets/images/panda_bg_640.jpg");
        top: 34px;
        width: 640px;
        height: 335px;
    }

    .reopening {
        top: 369px;
    }

    .reopening-box {
        width: 640px;
        height: 1333px;
    }

    .reopen-title {
        left: 20px;
        width: 600px;
        font-size:24px;
        line-height: 120%;
        top: 30px;
    }

    .reopen-text {
        left: 20px;
        top: 94px;
        width: 600px;
    }

    .donation-info {
        left: 20px;
        top: 292px;
    }
 
    .pick-feed-block {
        width: 600px;
        height: 918px;
        top: 369px;
        left: 20px;
    }

    .pick-feed-title {
        top: 30px;
        left: 69px;
        width: 465px;
    }

    .pick-feed-text {
        top: 86px;
        left: 0px;
        width: 600px;
        text-align: center;
    }

    .panda-diet span {
        top: 321px;
        left: 86px;
    }

    .panda-diet p {
        top: 375px;
        left: 27px;
    }

    .x {
        left: 197px;
        top: 346px;
    }

    .donate-panda-pic {
        left: 275px;
        top: 216px;
    }

    .donation-line {
        width: 600px;
        left: 0px;
        top: 532px;
    }

    .donation-line-box p {
        left: 10px;
        top: 488px;
    }

    .middle-line {
        width: 524px;
        left: 41px;
    }  

    .y-btn1 {
        left: 35px;
    }

    .y-btn2 {
        left: 165px;
    }

    .y-btn3 {
        left: 295px;
    }

    .y-btn4 {
        left: 425px;
    }

    .y-btn5 {
        left: 555px;
    }

    .y-btn6 {
        display: none;
    }

    .y-btn7 {
        display: none;
    }

    .orange-btn1 {
        left: 288.5px;
        top: 533.5px;
    }

    .orange-btn2 {
        left: 280px;
        top: 525px;
    }

    .price1, .price2, .price3 {
        display: none;
    }

    .price4 {
        left: 16.5px;
        top: 571px;
    }

    .price5 {
        left: 147px;
        top: 571px;
    }

    .price6 {
        left: 277px;
        top: 571px;
    }

    #price-or2 {
        color: var(--orange);
    }

    .price7 {
        left: 407px;
        top: 571px;
    }

    .price8 {
        left: 537px;
        top: 571px;
    }

    .amount-field {
        width: 250px;
        top: 657px;
        height: 100px;
        left: 175px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    input[type=number] {
        width: 167px;
        height: 42px;
        align-self: center;
        margin-bottom: 5px;
    }

    .dol {
        left: 195px;
        top: 11px;
    }

    input[placeholder] {
        padding-left: 6px;
    }

    .payment-options {
        margin: 0 0 0 0;
    }

    .subscription-choice {
        margin-left: 0px;
        justify-content: flex-start;
        padding-left: 12px;
        gap: 50px; 
    }

    #option1 {
        left: 8px;
    }

    .btn1 {
        top: 781px;
        left: 152px;
    }

    .share-text {
        left: 150px;
        top: 866px;
    }

    footer {
        top: 1702px;
    }

    .footer {
        height: 282px;
    }

    .footer .logo {
        left: 20px;
        top: 12px;
    } 

    .donate-btn {
        left: 20px;
        top: 97px;
    }    

    .donate-btn .text-btn3 {
        width: 298px;
    }

    .social-name {
        display: none;
    }

    .social-ft-container {
        top: 12px;
        left: 594px;
    }

    .social-icon {
        margin-bottom: 20px;
    }

    .social-icon #tw {
        top: 52px;
    }

    .social-icon #ig {
        top: 97px;
    }

    .social-icon #yt {
        top: 144px;
    }

    .sbscrb-container {
        display: none;
    }

    .ft-links .about {
        left: 20px;
        top: 248px;
      }

    .ft-links .map {
        left: 101px;
        top: 248px;
    }

    .ft-links .zoos {
        left: 169px;
        top: 248px;
    }

    .ft-links .contact {
        left: 242px;
        top: 248px;
    } 

    .copyright-text {
        left: 390px;
        top: 210px;
    } 
}

@media screen and (max-width: 320px) {
    body {
        width: 320px;
    }

    .navbar, .footer {
        width: 320px;
    }

    header {
        position: fixed;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
    }

    .navbar {
        height: 34px;
        margin: 0;
    }

    .logo {
        left: -6px;
        top: 1px;
    } 

    #hamburger {
        left: 292px;
    }

    .img-background {
        background-image: url("../../assets/images/panda_donate_320.jpg");
        top: 34px;
        width: 320px;
        height: 187px;
    }

    .reopening {
        top: 221px;
        width: 320px;
    }

    .reopening-box {
        width: 320px;
        height: 1145px;
    }

    .reopen-title {
        left: 10px;
        width: 300px;
        font-size: 24px;
        line-height: 120%;
        top: 30px;
        height: 87px;
    }

    .reopen-text {
        left: 10px;
        top: 122px;
        width: 300px;
        height: 308px;
    }

    .donation-info {
        left: 10px;
        top: 475px;
        font-size: 24px;
        width: 250px;
    } 
 
    .pick-feed-block {
        width: 300px;
        height: 591px;
        top: 534px;
        left: 10px;
    }

    .pick-feed-title {
        top: 22px;
        left: 34px;
        width: 232px;
        height: 29px;
        font-size: 24px;
    }

    .pick-feed-text {
        top: 44px;
        left: 0px;
        width: 300px;
        height: 44px;
        text-align: center;
        font-size: 16px;
        line-height: 140%;
    }

    .panda-diet span {
        top: 174px;
        left: 21.4px;
        font-size: 40.6px;
        width: 46.2px;
    }

    .panda-diet p {
        top: 204px;
        left: -34px;
        font-size: 9px;
    }

    .x {
        left: 95.8px;
        top: 186.6px;
        height: 7.9px;
        width: 7.9px;
    }

    .donate-panda-pic {
        left: 139.9px;
        top: 114px;
        width: 160px;
        height: 138.7px;
    }

    .donation-line {
        width: 300px;
        left: 0px;
        top: 288px;
        height: 13.5px;
    }

    .donation-line-box p {
        left: 0px;
        top: 241px;
        font-size: 16px;
    }

    .middle-line {
        width: 262px;
        left: 20.5px;
        top: 6px;
    }  

    .yellow-btn {
        width: 5px;
        height: 5px;
    }

     .y-btn1 {
        left: 17.5px;
        top: 4px;
    }

    .y-btn2 {
        left: 82.5px;
        top: 4px;
    }

    .y-btn3 {
        left: 147.5px;
        top: 4px;
    }

    .y-btn4 {
        left: 212.5px;
        top: 4px;
    }

    .y-btn5 {
        left: 277.5px;
        top: 4px;
    }

    .orange-btn1 {
        left: 144px;
        top: 288px;
        width: 11.4px;
        height: 11.4px;
    }

    .orange-btn2 {
        left: 140px;
        top: 284px;
        width: 19px;
        height: 19px;
    }

    .price-line span {
        font-size: 13px;
    }

    .price4 {
        left: 8.5px;
        top: 308px;
    }

    .price5 {
        left: 73.5px;
        top: 308px;
    }

    .price6 {
        left: 138.5px;
        top: 308px;
    }

    #price-or2 {
        color: var(--orange);
    }

    .price7 {
        left: 203.5px;
        top: 308px;
    }

    .price8 {
        left: 268.5px;
        top: 308px;
    } 
 
    .amount-field {
        width: 222px;
        top: 349px;
        height: 100px;
        left: 37px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    input[type=number] {
        width: 167px;
        height: 45px;
        align-self: center;
        margin-bottom: 0px;
        margin-left: 5px;
    }

    input[placeholder] {
        padding-left: 6px;
    }

    .payment-options {
        margin: 0 0 0 0;
    }

    .subscription-choice {
        margin-left: 0px;
        padding-left: 0px;
        gap: 50px; 
        width: 218px;
    }

    .dol {
        left: 183px;
        top: 11px;
    }
    
    #option1 {
        padding-right: 0px;
    }

    .payment-options label {
        margin-bottom: 9px;
    }

    .btn1 {
        top: 465px;
        left: 1px;
    }

    .share-text {
        left: 0px;
        top: 550px;
    }

    footer {
        top: 1367px;
    }

    .footer {
        height: 334px;
    } 

    .footer .logo {
        width: 128px;
        height: 23px;
        left: 93px;
        top: 19px;
    } 

    .footer .logo span a {
        width: 128px;
        height: 23px;  
        border: none;      
        text-align: unset;
    }

    .footer .logo .bamboo {
        left: 75px;
        top: 0px;
    }

    .donate-btn {
        left: 9px;
        top: 130px;
    }    

    .donate-btn .text-btn3 {
        width: 298px;
    }

    .social-name {
        display: none;
    }

    .social-ft-container {
        top: 73px;
        left: 63px;
        flex-direction: row;
        width: 194px;
        justify-content: space-between;
    }

    .social-name span {
        display: none;
    }

    .social-icon {
        margin-bottom: 20px;
    }

    .social-icon #tw {
        top: 6px;
        left: 61px;
    }

    .social-icon #ig {
        left: 117px;
        top: 5px;
    }

    .social-icon #yt {
        top: 6px;
        left: 172px;
    } 

    .ft-links .about {
        left: 21px;
        top: 292px;
      }

    .ft-links .map {
        left: 94px;
        top: 292px;
    }

    .ft-links .zoos {
        left: 156px;
        top: 292px;
    }

    .ft-links .contact {
        left: 222px;
        top: 292px;
    } 

    .copyright-text p {
        font-size: 15px;
    }

    .copyright-text {
        left: 96px;
        top: 205px;
        width: 222px;
    } 

    .line1 {
        width: 220px;
    }

    .line2 {
        width: 220px;
    }


}