
.garage__settings {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.settings__cars {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5em;
}

.settings__create-wrapper,
.settings__update-wrapper {
  display: flex;
  justify-content: left;
  gap: 0.5rem;
}

.settings__btns-wrapper {
  display: flex;
  width: 100%;
  justify-content: left;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.garage__race-field {
  width: 100%;
  display: flex;
}