.garage__settings {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.settings__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
}

.settings__left_top {
  display: flex;
  gap: 1em;
  align-items: center;
}

.settings__cars-limit {
  font-weight: 300;
  text-transform: uppercase;
  font-size: calc(.2em + 1vw);
  color: #437399;
  letter-spacing: 0.1em;
}

.settings__generate_btn {
  background-color: #7db1dc;
  cursor: pointer;
  color: #E2EFF8;
  text-transform: uppercase;
  border-radius: 0.5rem;
  font-size: calc(.74em + 0.1vw);
  transition: background-color .3s;
  height: 2em;
  width: 7em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.settings__left_bottom {
  display: flex;
  gap: 1em;
  align-items: center;
}

.settings__btn-left,
.settings__btn-right,
.settings__btn-left_svg,
.settings__btn-right_svg {
  height: 1.5em;
  width: 1em;
}

.settings__btn-left,
.settings__btn-right {
  background: none;
  appearance: none;
  --webkit-appearance: none;
  outline: none;
}

.settings__btn-left:disabled,
.settings__btn-right:disabled {
  opacity: 40%;
  pointer-events: none;
}

.settings__center {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.settings__create_input-text,
.settings__update_input-text {
  border-radius: 0.5rem;
  width: 20em;
  height: 2em;
  text-align: center;
  color: #0E5276;
}

.settings__create_input-text:focus,
.settings__update_input-text:focus {
  outline: none;
  border:1px solid #0E5276;
}

.settings__create_input-text::placeholder {
  text-align: center;
  color: #98C0E3;
}

.settings__create_input-color,
.settings__update_input-color {
  --webkit-appearance: none;
  appearance: none;
  border-radius: 0.5rem;
  padding: 0.1em;
  display: block;
}

.settings__create_input-color::-webkit-color-swatch-wrapper,
.settings__update_input-color::-webkit-color-swatch-wrapper {
  padding: 0.3em;
}

.settings__create_input-color::-webkit-color-swatch,
.settings__update_input-color::-webkit-color-swatch {
  border-radius: 0.3rem;
}

.settings__create_btn,
.settings__update_btn {
  background-color: #7db1dc;
  cursor: pointer;
  color: #E2EFF8;
  text-transform: uppercase;
  width: 7em;
  height: 2em;
  border-radius: 0.5rem;
  font-size: calc(.74em + 0.1vw);
  transition: background-color .3s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.settings__create_btn:disabled,
.settings__update_btn:disabled,
.settings__reset_btn {
  opacity: 40%;
  pointer-events: none;
}

.settings__create_btn:hover,
.settings__update_btn:hover {
  background-color: #62a4d9;
}

.settings__create_btn:active,
.settings__update_btn:active {
  background-color: #067A9F;
}

.settings__create-wrapper,
.settings__update-wrapper {
  display: flex;
  justify-content: left;
  gap: 0.5rem;
}

.settings__right{
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: flex-end;
}

.settings__race_btn,
.settings__reset_btn {
  background-color: #7db1dc;
  cursor: pointer;
  color: #E2EFF8;
  text-transform: uppercase;
  width: 7em;
  height: 2em;
  border-radius: 0.5rem;
  font-size: calc(.74em + 0.1vw);
  transition: background-color .3s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.settings__race_btn:hover,
.settings__reset_btn:hover,
.settings__generate_btn:hover {
  background-color: #62a4d9;
}

.settings__race_btn:active,
.settings__reset_btn:active,
.settings__generate_btn:active {
  background-color: #067A9F;
}

.garage__race-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.garage__race-field {
  width: 100%;
  display: flex;
  flex-direction: column;
}
