.winners__pagination-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.winners__pagination_total-winners {
  font-weight: 300;
  text-transform: uppercase;
  font-size: calc(.2em + 1vw);
  color: #437399;
  letter-spacing: 0.1em;
}

.winners__results {
  width: 100%;
  border: 0.5px solid #6395BD;
}

.table__th {
  border: 0.5px solid #6395BD;
  color: #213B54;
  font-size: calc(.2em + 1vw);
}

.table__cell {
  border: 0.5px solid #6395BD;
  text-align: center;
  font-size: calc(.2em + 1vw);
  color: #437399;
  font-weight: 500;
  height: 4em;
}

.table__cell .race__car {
  height: 3.5em;
  padding-bottom: 0.4em;
}

.results__table_th-n° {
  width: 10%;
}

.results__table_th-car {
  width: 20%;
}

.results__table_th-name {
  width: 40%;
}

.results__table_th-wins {
  width: 10%;
}

.results__table_th-time {
  width: 20%;
}

.sortable {
  cursor: pointer;
  transition: color .3s;
}

.sortable:hover {
  color: #62a4d9;
}

.sortable:active {
  color: #067A9F;
}

