.field__wrapper {
  width: 1160px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  top: 120px;
}