.field__wrapper {
  width: 1160px;
  height: 520px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 110px;
}

.game__qstn {
  width: 1160px;
  height: 185px;
  background-color: #437B9C;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.game__qstn_img {
  height: 165px;
  margin-left: 10px;
  border-radius: 10px;
}

.game__qstn_content {
  width: 960px;
  display: flex;
  flex-direction: column;
  height: 125px;
}

.game__qstn_name {
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 2px;
  color: white;
}

.game__qstn_line {
  width: 935px;
  height: 1px;
  background-color: white;
}

.game__qstn_audio {
  width: 935px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.player__btn,
.audio__volume {
  height: 30px;
  cursor: pointer;
}

.player__wrapper {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.audio__wrapper {
  width: 93%;
  height: 30px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.audio__time,
.audio__duration {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 200;
  width: 7%;
  font-size: 16px;
  text-align: center;
}

.audio__range {
  width: 86%;
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  background: #1D3555;
  border-radius: 5px;
  --progress-background: linear-gradient(90deg, rgba(166,218,220,1) 0%, rgba(99,137,154,1) 49%, rgba(29,53,85,1) 100%);
  --progress-width: 0%;
  overflow: hidden;

  &::-webkit-slider-runnable-track { 
    height: 20px;
    width: 10px;
    cursor: pointer;
  }

  &::before { 
    content: "";
    height: 20px;
    width: var(--progress-width);
    top: 0px;
    left: 0px;
    cursor: pointer;
    background: var(--progress-background);
    position: absolute;
  }

  &::-webkit-slider-thumb {
    height: 20px;
    width: 10px;
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    background-color: #FFC700;
    border-radius: 10px;
    cursor: pointer;
  }

  &:hover::-webkit-slider-thumb {
    background-color:#78A3AF;
  }

  &:active::-webkit-slider-thumb {
    background-color: #A6DADC;
  }
}

.volume__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 20%;
}

.volume__wrapper_range {
  width: 75%;
  position: relative;
}

.audio__volume_range {
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  background-color: #1D3555;
  border-radius: 5px;
  --progress-background: linear-gradient(90deg, rgba(166,218,220,1) 0%, rgba(99,137,154,1) 49%, rgba(29,53,85,1) 100%);
  --progress-width: 100%;
  position: relative;
  overflow: hidden;

  &::-webkit-slider-runnable-track { 
    height: 20px;
    width: 100%;
    cursor: pointer;
  }

&::before { 
    content: "";
    height: 20px;
    width: var(--progress-width);
    top: 0px;
    left: 0px;
    cursor: pointer;
    background: var(--progress-background);
    position: absolute;
}
  
  &::-webkit-slider-thumb {
    height: 20px;
    width: 10px;
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    background-color: #FFC700;
    border-radius: 10px;
    cursor: pointer;
  }

  &:hover::-webkit-slider-thumb {
    background-color:#78A3AF;
  }

  &:active::-webkit-slider-thumb {
    background-color: #A6DADC;
  }
}

.game__answers {
  width: 1160px;
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.answers__variants, 
.answers__description {
  width:49%;
  height: 100%;
  display: flex;
  background-color: #437B9C;
  border-radius: 10px;
}

.answers__list {
  width: 97%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
}

.answers__item{
  height: calc(100%/6.1);
  flex-direction: row;
  display: flex;
  margin-left: 5px;
  position: relative;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,.5);
}

.answers__item_last {
  border-bottom: none;
}

.answers__item_input {
  position: absolute;
  appearance: none;
  -web-kit-appearance: none;
  border-radius: 10px;
  background-color: white;
  height: 15px;
  width: 15px;
}

.answer__wrong {
  background-color: red;
}

.answer__correct {
  background-color: rgb(42, 172, 42);
}


.answers__item_label {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: white;
  width: auto;
  margin-left: 30px;
}

.answers__description {
  display: flex;
  flex-direction: column;
}

.bird__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 57%;
}

.bird__img {
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 10px;
  width: 130px;
  height: 130px;
}

.bird__info_wrapper {
  width: 69.5%;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}

.bird__title {
  font-family: 'Montserrat', sans-serif;
  color: white;
  line-height: normal;
  margin: 0;
}

.bird__latin-name {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 300;
}

.bird__audio {
  width: 97%;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bird__audio__btn,
.bird__volume_img {
  height: 18px;
  width: 22px; 
}

.bird__audio_wrapper {
  width: 70%;
  flex-direction: row;
  display: flex;
  align-items: center;
  height: 50px;
  position: relative;
  justify-content: space-between;
}

.bird__audio_line {
  width: 90%;
  height: 16px;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}

.bird__audio_timer {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.bird__audio_time,
.bird__audio_duration {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 300;
}

.bird__audio_range {
  border-radius: 3px;

  &::-webkit-slider-runnable-track { 
    height: 12px;
  }

  &::before { 
    height: 12px;
  }

  &::-webkit-slider-thumb {
    height: 12px;
  }
}

.bird__volume {
  width: 30%;
  flex-direction: row;
  display: flex;
}

.bird__volume_range {
  width: 77%;
  border-radius: 3px;
  margin-left: 10px;

  &::-webkit-slider-runnable-track { 
    height: 12px;
  }

&::before { 
    height: 12px;
}
  
  &::-webkit-slider-thumb {
    height: 12px;
  }

}

.bird__text {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 300;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
}

.game__qstn-next {
  background-color: #FFC700;
  outline: none;
  border: none;
  height: 50px;
  width: 220px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.game__qstn-next:hover {
  background-color: #cca104;
  color: white;
}

.game__qstn-next:active {
  background-color: #E63946;
  color: white;
}