.sources {
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 99%;
    overflow-x: auto;
    align-items: center;
    font: 300 1em 'Fira Sans', sans-serif;
    gap: 2px;
}

.sources:hover > :not(:hover) {
    opacity: 50%;
}

.sources::-webkit-scrollbar {
    width: 15px;
}

.sources::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.sources::-webkit-scrollbar-thumb {
    background: #00A6FB;
    background-clip: content-box;
}

.sources::-webkit-scrollbar-thumb:hover {
    background: #0582CA;
}

.sources::-webkit-scrollbar-thumb:active {
    background: #006494;
}

.source__item {
    flex: 1;
    border: 2px solid #0582CA;
    font: inherit;
    line-height: 1;
    padding: 1em 2em;
    margin-bottom: 2px;
    color: #003554;
    transition: 0.3s;
    cursor: pointer;
    text-align: center;
}

.source__item:hover {
    background-color: #00A6FB;
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}

@media screen and (max-width: 640px) {
    .source__item  {
        padding: 0.5em 1em;
    }
  
  }