.settings__pagination,
.winners__pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}

.winners__pagination {
  width: 10%;
}

.settings__current-page,
.winners__current-page{
  font-weight: 300;
  text-transform: uppercase;
  font-size: calc(.3em + 0.7vw);
  color: #437399;
  text-align: center;
}

.settings__btn-left,
.settings__btn-right,
.settings__btn-left_svg,
.settings__btn-right_svg,
.winners__btn-left,
.winners__btn-right,
.winners__btn-left_svg,
.winners__btn-right_svg {
  height: 2em;
  width: 1em;
  cursor: pointer;
  transition: filter .3s;
  transition: transform .3s;
}

.settings__btn-left:hover .settings__btn-left_svg,
.settings__btn-right:hover .settings__btn-right_svg,
.winners__btn-left:hover .winners__btn-left_svg,
.winners__btn-right:hover .winners__btn-right_svg {
  filter: drop-shadow(0.5px 0.5px 0.5px #62432C);
  transform: scale(1.05);
}

.settings__btn-left,
.settings__btn-right,
.winners__btn-left,
.winners__btn-right {
  background: none;
  appearance: none;
  --webkit-appearance: none;
  outline: none;
}

.settings__btn-left:disabled,
.settings__btn-right:disabled,
.winners__btn-left:disabled,
.winners__btn-right:disabled {
  opacity: 40%;
  pointer-events: none;
}

@media screen and (max-width: 1240px) {
  .settings__pagination {
    width: 40%;
  }

  .settings__current-page,
  .winners__current-page{
  font-size: calc(.4em + 0.7vw);
}
}