*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: Verdana;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: #EFF4F3;
}

.game-field {
    height: 600px;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: relative;
}

.buttons-container {
    top: 0px;
    align-self: center;
    width: 400px;
    height: 60px;
    position: absolute;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

button {
    background-color: #554640;
    outline: none;
    border: 1px solid #707078;
    border-radius: 5%;
    text-transform: uppercase;
    color: #CDE6F5;
    font-size: 0.8em;
    cursor: pointer;
}

.shuffle-button {
    width: 35%;
    height: 80%;
}

.stop-button {
    width: 15%;
    height: 80%;
}

.save-button {
    width: 15%;
    height: 80%;
}

.results-button {
    width: 20%;
    height: 80%;
}

.stats-container {
    top: 45px;
    align-self: center;
    width: 250px;
    height: 60px;
    position: absolute;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

span {
    color: #554640;
}

.time-counter {
    color: #87919E;
}

.game-board {
    top: 50%;
    bottom: 50%;
    margin: auto;
    padding-top: 6px;
    align-self: center;
    height: 400px;
    width: 400px;
    background-color: #8DA7BE;
    position: absolute;
    border: 2px solid #554640;
    border-radius: 3%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.puzzle-piece, .empty {
    height: 90px;
    width: 90px;
    position: relative;
    z-index: 2;
    background-color: #CDE6F5;
    color: #554640;
    border: 2px solid #707078;
    border-radius: 5%;
    box-shadow: 1px 1px 2px #707078;
    visibility: visible;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    transition: 0.15s ease-in-out;
    cursor: pointer;
    /* animation-name: moveRight;
    animation-name: moveLeft;
    animation-name: moveUp;
    animation-name: moveDown;
    animation-duration: 1 sec; */
}

.puzzle-piece.move {
    transition: 3s left, 3s top;
}

@media screen and (max-width: 1280px) {
    .game-field {
        height: 500px;
    }

    .buttons-container {
        width: 350px;
        height: 50px;
    }

    .stats-container {
        top: 32px;
        width: 240px;
        height: 55px;
    }

    .game-board {
        top: 250px;
        height: 350px;
        width: 350px;
    }

    .puzzle-piece, .empty {
        height: 80px;
        width: 80px;
    }
}

@media screen and (max-width: 768px) {
    .game-field {
        height: 400px;
    }

    .buttons-container {
        width: 350px;
        height: 50px;
    }

    .stats-container {
        top: 32px;
        width: 240px;
        height: 55px;
    }

    .game-board {
        top: 250px;
        height: 350px;
        width: 350px;
    }

    .puzzle-piece, .empty {
        height: 80px;
        width: 80px;
    }
}

@media screen and (max-width: 320px) {
    .game-field {
        height: 360px;
    }

    .buttons-container {
        width: 300px;
        height: 40px;
    }

    .stats-container {
        top: 32px;
        width: 200px;
        height: 45px;
    }

    .game-board {
        top: 220px;
        height: 300px;
        width: 300px;
    }

    .puzzle-piece, .empty {
        height: 70px;
        width: 70px;
    }
}