<header class="header">
    <h1 class="h1">Songbird</h1>
    <div class="header__wrapper">
        <a class="logo header__logo" href="">
            <img class="logo__img" src="../../assets/icons/logo.svg" alt="Songbird logo">
        </a>
        <nav class="nav">
            <ul class="menu">
                <il class="menu__item menu__link_active" id="menu-link-start">Начало</il>
                <il class="menu__item" id="menu-link-play">Играть</il>
                <il class="menu__item" id="menu-link-gallery">Галлерея</il>
                <il class="menu__item menu__language">
                    <img class="menu__lg" id="menu-link-lg" src="../../assets/icons/en-icon.png" alt="english flag icon">
                </il>
            </ul>
        </nav>
    </div>
</header>