.h1 {
  display: none;
}

.header__wrapper {
max-width: 1160px;
height: 80px;
position: relative;
margin-left: auto;
margin-right: auto;
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: row;
min-width: 360px;
}

.logo__img {
  max-width: 172px;
  max-height: 69px;
  padding-top: 6px;
}

.menu {
  width: 240px;
  display: flex;
  max-height: 22px;
  flex-direction: row;
  justify-content: space-between;
}

.menu__link {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  line-height: 22px;
  color: #1D3555;
  list-style: none;
}

.menu__link:hover {
  color: #567B94;
}

.menu__link:active {
  color: #78A3AF;
}

.menu__link_active {
  color: #E63946;
}

