.questions {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.questions__wrapper {
  width: 100% !important;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.questions__category {
  width: 184px;
  height: 45px;
  background-color: #1D3555;
  border: 1px solid #567B94;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  color: white;
  line-height: 16px;
  clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
  border-radius: 10px 0 0 10px;
}

.questions__category_current {
  background-color:#E83945;
  border: 1px solid #E83945;
  color: white;
  font-weight: 600;
}

.questions__result {
  background-color: #A6DADC;
  height: 45px;
  width: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #A6DADC;
}

.result__counter,
.result__title {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  padding-bottom: 0px;
  cursor: default;
}

.result__counter {
  font-size: 20px;
  font-weight: 700;
  color: #1D3555;
}

.result__title {
  font-weight: 500;
  font-size: 14px;
  color:#567B94;
}

.field__wrapper {
  height: 520px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.game__qstn {
  width: 100%;
  height: 185px;
  background-color: #437B9C;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.game__qstn_img {
  height: 165px;
  margin-left: 10px;
  margin-right: 21px;
  border-radius: 10px;
}

.game__qstn_content {
  width: 81%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.game__qstn_name {
  width: 100px;
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 2px;
  color: white;
}

.game__qstn_line {
  width: 100%;
  margin-right: 21px;
  height: 1px;
  background-color: white;
}

.game__qstn_audio {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.player__btn,
.audio__volume {
  height: 30px;
  cursor: pointer;
}

.player__wrapper {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.audio__wrapper {
  width: 93%;
  height: 30px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.audio__time,
.audio__duration {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 200;
  width: 7%;
  font-size: 16px;
  text-align: center;
}

.audio__range {
  width: 86%;
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  background: #1D3555;
  border-radius: 5px;
  --progress-background: linear-gradient(90deg, rgba(166,218,220,1) 0%, rgba(99,137,154,1) 49%, rgba(29,53,85,1) 100%);
  --progress-width: 0%;
  overflow: hidden;

  &::-webkit-slider-runnable-track { 
    height: 20px;
    width: 10px;
    cursor: pointer;
  }

  &::before { 
    content: "";
    height: 20px;
    width: var(--progress-width);
    top: 0px;
    left: 0px;
    cursor: pointer;
    background: var(--progress-background);
    position: absolute;
  }

  &::-webkit-slider-thumb {
    height: 20px;
    width: 10px;
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    background-color: #FFC700;
    border-radius: 10px;
    cursor: pointer;
  }

  &:hover::-webkit-slider-thumb {
    background-color:#78A3AF;
  }

  &:active::-webkit-slider-thumb {
    background-color: #A6DADC;
  }
}

.volume__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 20%;
}

.volume__wrapper_range {
  width: 75%;
  position: relative;
}

.audio__volume_range {
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  background-color: #1D3555;
  border-radius: 5px;
  --progress-background: linear-gradient(90deg, rgba(166,218,220,1) 0%, rgba(99,137,154,1) 49%, rgba(29,53,85,1) 100%);
  --progress-width: 100%;
  position: relative;
  overflow: hidden;

  &::-webkit-slider-runnable-track { 
    height: 20px;
    width: 100%;
    cursor: pointer;
  }

&::before { 
    content: "";
    height: 20px;
    width: var(--progress-width);
    top: 0px;
    left: 0px;
    cursor: pointer;
    background: var(--progress-background);
    position: absolute;
}
  
  &::-webkit-slider-thumb {
    height: 20px;
    width: 10px;
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    background-color: #FFC700;
    border-radius: 10px;
    cursor: pointer;
  }

  &:hover::-webkit-slider-thumb {
    background-color:#78A3AF;
  }

  &:active::-webkit-slider-thumb {
    background-color: #A6DADC;
  }
}

.game__answers {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.answers__variants {
  flex-direction: column;
}

.answers__variants, 
.answers__description {
  width: 49%;
  height: 100%;
  display: flex;
  background-color: #437B9C;
  border-radius: 10px;
}

.answers__list {
  width: 97%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
}

.answers__item{
  height: calc(100%/6.1);
  flex-direction: row;
  display: flex;
  margin-left: 5px;
  position: relative;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,.5);
}

.answers__item_last {
  border-bottom: none;
}

.answers__item_input {
  position: absolute;
  appearance: none;
  -web-kit-appearance: none;
  border-radius: 10px;
  background-color: white;
  height: 15px;
  width: 15px;
}

.answer__wrong {
  background-color: red;
}

.answer__correct {
  background-color: rgb(42, 172, 42);
}


.answers__item_label {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: white;
  width: auto;
  margin-left: 30px;
}

.answers__description {
  display: flex;
  flex-direction: column;
}

.bird__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 57%;
}

.hidden {
  display: none;
}

.bird__img {
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 10px;
  width: 130px;
  height: 130px;
}

.bird__info_wrapper {
  width: 69.5%;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}

.bird__title {
  font-family: 'Montserrat', sans-serif;
  color: white;
  line-height: normal;
  margin: 0;
}

.bird__latin-name {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 300;
}

.bird__audio {
  width: 97%;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bird__audio__btn,
.bird__volume_img {
  height: 18px;
  width: 22px; 
}

.bird__audio_wrapper {
  width: 70%;
  flex-direction: row;
  display: flex;
  align-items: center;
  height: 50px;
  position: relative;
  justify-content: space-between;
}

.bird__audio_line {
  width: 90%;
  height: 16px;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}

.bird__audio_timer {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.bird__audio_time,
.bird__audio_duration {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 300;
}

.bird__audio_range {
  border-radius: 3px;

  &::-webkit-slider-runnable-track { 
    height: 12px;
  }

  &::before { 
    height: 12px;
  }

  &::-webkit-slider-thumb {
    height: 12px;
  }
}

.bird__volume {
  width: 30%;
  flex-direction: row;
  display: flex;
}

.bird__volume_range {
  width: 77%;
  border-radius: 3px;
  margin-left: 10px;

  &::-webkit-slider-runnable-track { 
    height: 12px;
  }

&::before { 
    height: 12px;
}
  
  &::-webkit-slider-thumb {
    height: 12px;
  }

}

.bird__text {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 300;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
}

.bird__text-initial {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 18px;
  width: 50%;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.game__qstn-next {
  background-color: #FFC700;
  outline: none;
  border: none;
  height: 50px;
  width: 220px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;

  &:disabled {
    background-color: #e0e8dd;
    color: white;
    cursor: default;
  }

  &:not(.disabled):hover {
    background-color: #cca104;
    color: white;
  }

  &:not(.disabled):active {
    background-color: #E63946;
    color: white;
  }
}

@media screen and (max-width: 1159px) {
  
  .questions__category {
    font-size: 14px;
    width: 170px;
  }

  .game__qstn_content {
    width: 80%;
  }

}

@media screen and (max-width: 1070px) {
  
  .questions__category {
    width: 160px;
  }

  .game__qstn_content {
    width: 79%;
  }

}

@media screen and (max-width: 1020px) {
  
  .questions__category {
    width: 155px;
  }

  .game__qstn_content {
    width: 77%;
  }

}

@media screen and (max-width: 999px) {
  
  .questions__category {
    width: 150px;
    height: 40px;
  }

  .questions__result {
    height: 40px;
  }

  .game__qstn_audio {
    flex-direction: column;
    align-items: flex-start;
    height: 80px;
    margin-top: 10px;
  }

  .player__wrapper {
    width: 100%;
    justify-content: left;
  }

  .audio__wrapper {
    margin-left: 10px;
    width: 88%;
  }

  .audio__time {
    margin-right: 5px;
    font-size: 14px;
    width: 10%;
  }

  .audio__duration {
    margin-left: 5px;
    font-size: 14px;
    width: 10%;
  }

  .volume__wrapper {
    width: 50%;
    justify-content: flex-start;
  }

  .volume__wrapper_range {
    margin-left: 10px;
  }

  .game__qstn_content {
    width: 74%;
  }

  .answers__item_label {
    margin-left: 22px;
  }

  .bird__text-initial {
    width: 90%;
    font-size: 16px;
  }

  .bird__img {
    width: 115px;
    height: 115px;
  }

  .bird__info_wrapper {
    height: 110px;
  }

  .bird__info {
    height: 50%;
  }

  .bird__title,
  .bird__latin-name {
    font-size: 14px;
  }

  .bird__audio_wrapper {
    width: 50%;
  }

  .bird__volume {
    width: 40%;
  }

  .answers__variants {
    width: 37%;
  } 

  .answers__description {
    width: 61%;
  }

  .game__qstn-next {
    font-size: 14px;
    height: 30px;
  }

}

@media screen and (max-width: 768px) {

  .field__wrapper {
    height: 450px;
  }

  .game__qstn {
    height: 130px;
  }

  .game__qstn_img {
    height: 110px;
  }

  .game__qstn_name {
    font-size: 20px;
  }

  .game__qstn_audio {
    height: 70px;
  }

  .audio__volume,
  .player__btn {
    height: 20px;
  }

  .game__qstn_name {
    font-size: 14px;
  }

  .game__answers {
    height: 240px;
  }

  .answers__variants {
    width: 30%;
  } 

  .answers__item_label {
    font-size: 14px;
  }

  .answers__description {
    width: 68%;
  }

  .bird__info {
    justify-content: left;
    row-gap: 10px;
  }

  .bird__info_wrapper {
    margin-left: 10px;
    width: 72%;
  }

  .bird__img {
    width: 110px;
    height: 110px;
  }

  .bird__info_wrapper {
    height: 100px;
  }
}

@media screen and (max-width: 640px) {


  .audio__wrapper {
    width: 85%;
  }

  .audio__range {
  
    &::-webkit-slider-runnable-track { 
      height: 12px;
    }
  
    &::before { 
      height: 12px;
    }
  
    &::-webkit-slider-thumb {
      height: 12px;
    }
  
  }

  .audio__volume_range {
  
    &::-webkit-slider-runnable-track { 
      height: 12px;
    }
  
  &::before { 
      height: 12px;
  }
    
    &::-webkit-slider-thumb {
      height: 12px;
    }
  }

  .answers__variants {
    width: 24%;
  } 

  .answers__item {
    margin-left: 3px;
  }

  .answers__description {
    width: 75%;
  }

  .bird__text {
    margin-top: 5px;
  }

}

@media screen and (max-width: 500px) {

  .field__wrapper {
    height: 470px;
  }
  
  .questions__category {
    width: 150px;
    height: 30px;
  }

  .questions__result {
    flex-direction: row;
    height: 30px;
    width: 60px;
  }

  .audio__time {
    width: 15%;
  }

  .audio__duration {
    width: 15%;
  }

  .game__answers {
    flex-direction: column;
    height: 280px;
  }

  .answers__item_input {
    width: 13px;
    height: 13px;
  }

  .answers__variants {
    width: 100%;
    height: 20%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }

  .answers__item {
    width: 31%;
  }

  .answers__item{
    border-bottom: none;
  }

  .bird__text {
    margin-right: 0;
  }

  .answers__description {
    width: 100%;
    height: 85%;
  }

  .bird__img {
    width: 90px;
    height: 90px;
  }

  .bird__info_wrapper {
    height: 75px;
  }

  .bird__audio__btn,
  .bird__volume_img {
    height: 15px;
  }

  .bird__audio_range {
  
    &::-webkit-slider-runnable-track { 
      height: 8px;
    }
  
    &::before { 
      height: 8px;
    }
  
    &::-webkit-slider-thumb {
      height: 8px;
    }
  }
  
  .bird__volume_range {
    width: 77%;
    border-radius: 3px;
    margin-left: 10px;
  
    &::-webkit-slider-runnable-track { 
      height: 8px;
    }
  
  &::before { 
      height: 8px;
  }
    
    &::-webkit-slider-thumb {
      height: 8px;
    }
  
  }



}