<footer class="footer">
  <div class="footer__wrapper">
    <a class="footer__rs-link" href="https://rs.school/js/">
      <img class="footer__rs-logo" src="../../assets/icons/rs_school_js_black.svg" alt="RS School logo">
    </a>
    <div class="copyright">
      <a class="copyright__link" href="https://github.com/elukashova">
        <img class="copyright__logo" src="../../assets/img/github-logo.png" alt="github logo">
      </a>
      <span class="copyright__year">2022</span>
    </div>
  </div>
</footer>